
.first1{
  background-color :#00FA9A;
  color: antiquewhite;
}
.first2{
  background-color :yellow;
  color: rgb(53, 40, 24);
}
h1{
    padding-bottom: 100px;
    padding-top: 80px;
    
    
  } 
#subtitle{
    padding-bottom: 40px;
    
}
.icon{
    margin: 10px;
    transition: all 500ms;
  }
  
  .icon:hover{
    transform: scale(1.2);
  }